@model List<PontoEletronico.Funcionario>

<h2>Lista de Funcionários</h2>

<table class="table">
    <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>Ações</th>
    </tr>
</table>